*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

/* Utility Classes */
.form-element {
    height: 42px;
    color: #212121;
    border: 1px solid #E0E0E0;
    border-radius: 4px;
}

/* Form Styling */
form {
    margin: 0 auto;
    padding: 24px 20px;
    max-width: 550px;
    display: flex;
    justify-content: center;
    gap: 12px;
    flex-wrap: wrap;
}

#color-scheme-type {
    flex: 1 1 0;
    padding: 0 .25rem;
}

#get-color-scheme-btn {
    padding: 12px 10px;
    background: #FFFFFF;
}

#get-color-scheme-btn:hover {
    background-color: #F0F0F0;
    border-color: #D0D0D0;
    cursor: pointer;
}

#get-color-scheme-btn:active {
    background-color: #E0E0E0;
    transform: translateY(1px);
    box-shadow: none;
}

/* Color Palette Section */
#color-palette {
    width: 100vw;
    height: calc(100vh - 90px);
    display: flex;
}

#color-palette > * {
    flex: 1 1 0;
}

.color {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 48px;
}

.color-hex {
    font-size: 30px;
    letter-spacing: 1px;
}

@media (max-width: 840px) {
    .color-hex {
            font-size: 24px;
    }   
}

@media (max-width: 720px) {
    #color-palette {
        flex-direction: column;
    }
}